{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home">
    <h2>Feed</h2>
    {% for item in feed %}
        <div class="feed_item">
            <a href="{% url 'item_details' item.1 item.0.id %}">
            <div class="intro">
            {% if item.0.author == user %}
                <div class="crud">
                    <form action="{% url 'edit_ticket' item.0.book.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="ticket_to_edit" value="{{ item.0.book.id }}">
                        <button type="submit" >{{ item.0.book.id }} modifier</button>
                    </form>
                    <form action="{% url 'delete_item' item.1 item.0.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_to_delete" value="{{ item.0.id }}, {{ item.1 }}">
                        <button type="submit" >{{ item.0.id }} supprimer</button>
                    </form>
                </div>
            {% endif %}
                {% if item.1 == "ticket" %}
                    <div><b>{{ item.0.author }}</b> a publié un ticket :</div>
                {% elif item.1 == "review" %}
                    <div><b>{{ item.0.author }}</b> a publié une critique :</div>
                {% endif %}
            </div>
                <p>{{ item.0.date }}</p>
                {% if item.1 == "review" %}
                <div class="overlook">❝ {{ item.0.title }} ❞<span> - </span>
                    <div class="rating">
                        {% if item.0.rating >= 1 %}
                            <object class="rating-star yellow-star" type="image/svg+xml" data="{% static 'yellow-star.svg' %}"></object>
                        {% else %}
                            <object class="rating-star grey-star" type="image/svg+xml" data="{% static 'grey-star.svg' %}"></object>
                        {% endif %}
                        {% if item.0.rating >= 2 %}
                            <object class="rating-star yellow-star" type="image/svg+xml" data="{% static 'yellow-star.svg' %}"></object>
                        {% else %}
                            <object class="rating-star grey-star" type="image/svg+xml" data="{% static 'grey-star.svg' %}"></object>
                        {% endif %}
                        {% if item.0.rating >= 3 %}
                            <object class="rating-star yellow-star" type="image/svg+xml" data="{% static 'yellow-star.svg' %}"></object>
                        {% else %}
                            <object class="rating-star grey-star" type="image/svg+xml" data="{% static 'grey-star.svg' %}"></object>
                        {% endif %}
                        {% if item.0.rating >= 4 %}
                            <object class="rating-star yellow-star" type="image/svg+xml" data="{% static 'yellow-star.svg' %}"></object>
                        {% else %}
                            <object class="rating-star grey-star" type="image/svg+xml" data="{% static 'grey-star.svg' %}"></object>
                        {% endif %}
                        {% if item.0.rating >= 5 %}
                            <object class="rating-star yellow-star" type="image/svg+xml" data="{% static 'yellow-star.svg' %}"></object>
                        {% else %}
                            <object class="rating-star grey-star" type="image/svg+xml" data="{% static 'grey-star.svg' %}"></object>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if item.0.ticket %}
                    <div class="ticket-response">
                        {{ item.0.ticket.author }}
                        <b>{{ item.0.ticket }}</b>
                        {{ item.0.book.title }}
                        <img alt="book cover" src="{{ item.0.book.book_cover.url }}">
                    </div>
                {% else %}
                    <div class="ticket-request">
                    {{ item.0 }}
                    {{ item.0.book.author }}
                    <img alt="book cover" src="{{ item.0.book.book_cover.url }}">
                    </div>
                {% endif %}

        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}


